PORT=3000
# Example Atlas connection string (replace with your real user, password, cluster and DB name)
# MONGO_URI="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbName>?retryWrites=true&w=majority"
MONGO_URI="mongodb+srv://hemantkumaryadav542_db_user:9rV1SIk0GKipWudz@cluster0.vclsjev.mongodb.net/bitespeed_identity?retryWrites=true&w=majority"
